@font-face {
  font-family: pokerFont;
  src: url('./images/monterey/MontereyFLF.ttf');
}

body {
  background-color: #006e1d;
  background: url('./images/green-bg.jpg');
  color: white;
  font-family: pokerFont, Arial, Helvetica, sans-serif
}

h1 {
  font-size: 5vh;
}

.main {
  display: grid;
  grid-template-columns: 20% 70% 10%;
}

.chips-holder {
  /* display: grid; */
  /* grid-template-columns: 20% 20% 20% 20% 20%; */
}

.chip-holder {
  padding: 5px;
  position: relative;
}

.chip-holder input {
  position: absolute;
  left: 6vh;
  top: 6.5vh;
  width: 4vh;
  font-size: 2vh;
}

.chip-holder::before {
  content: "£";
  color: white;
  position: absolute;
  left: 4.5vh;
  font-size: 2.5vh;
  top: 6.5vh;
}

.chip-holder-white::before {
  color: black;
}

.info-bar {
  /* display: grid; */
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
}

.info-title {
  font-weight: bold;
}

.hands-holder {
  text-align: center;
  margin-top: 20px;
}

.info-bar-element {
  /* display: inline-block; */
  background-color: white;
  border-radius: 10px;
  color: black;
  margin: 15px;
  padding: 10px;
  font-size: 3vh;
  text-align: center;
  box-shadow: 4px 5px 5px 1px #333;
}

.hidden-on-load {
  display: none;
}

.interval-input {
  font-size: 2vh;
  width: 5vh;
}

.blind-input {
  font-size: 2vh;
  width: 12vh;
  text-align: center;
}

.poker-chip {
  height: 15vh;
}

.hands-guide {
  height: 80vh;
}

#start-game-btn {
  background-color: rgb(182, 0, 0);
  padding: 15px;
  color: white;
  border-radius: 5px;
  border: 1px solid #444;
  box-shadow: 4px 5px 5px 1px #111;
  cursor: pointer;
  width: 80%;
  margin-left: 4vh;
  margin-left: 4vh;
}

.info-bar-element, #start-game-btn, .hands-guide {
  box-shadow: 4px 5px 5px 1px #333;
}