body {
  background-color: #333;
  color: #fff;
}

.page-title {
  font-size: 2.25rem;
  font-weight: bold;
}

.sub-title {
  font-size: 1.5rem;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="button"] {
    padding: 5px;
    border-radius: 5px;
    background-color: #666;
    color: white;
    margin-left: 5px;
  &:hover {
    cursor: pointer;
  }
}

label {
  margin-right: 5px;
}

select {
  margin-right: 10px;
}

.card {
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 4px 4px 5px #555;
  display: inline-block;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
}

table {
  border: 1px solid white;
  border-radius: 5px;
}

td {
  color: white;
}

th {
  background-color: #262666;
  color: white;
  padding: 5px;
}

.time-cell {
  text-align: right;
  min-width: 4rem;
}

.positive-delta {
  background-color: green;
  color: white;
}

@media only screen and (max-width: 600px) {
  .row-split {
    display: block;
  }
}

.negative-delta {
  background-color: red;
  color: white;
}
