:root {
  --highlight-colour: #03a9f4;
  --disabled-colour: #535353;
  --background-colour: #fff;
  --background-shaded-colour: #ddd;
  --text-colour: #000;
  /* --waves-blue: #06329f; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-colour: #111;
    --text-colour: #fff;
    --background-shaded-colour: #2d2d2d;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-colour);
  color: var(--text-colour);
  margin: 0;
}

.content {
  padding: 15px;
}

.page-title {
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--highlight-colour);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border: 1px solid var(--text-colour);
}

.center {
  text-align: center;
}

.sub-title {
  font-size: 1.5rem;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  background-color: var(--highlight-colour);
  color: white;
  border: none;
  padding: 5px;
  margin-right: 10px;
}

input[type="button"] {
  padding: 5px;
  border-radius: 3px;
  background-color: var(--highlight-colour);
  color: white;
  margin-left: 5px;
  border: 1px solid #fff;
  font-weight: bold;
  &:hover {
    cursor: pointer;
  }
}

label {
  margin-right: 5px;
}

.card {
  border: 1px solid white;
  border-radius: 5px;
  background-color: var(--background-shaded-colour);
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
}

table {
  border: 1px solid white;
  border-radius: 5px;
  border-spacing: 0;
}

td {
  border: 1px solid #555;
  padding: 5px;
  border: 1px solid var(--text-colour);
}

th {
  background-color: var(--highlight-colour);
  color: white;
  padding: 5px;
}

.time-cell {
  text-align: right;
  min-width: 3rem;
}

.event-card {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--background-colour);

  &.qualified {
    border: 1px solid #00d800;
    .time-cell {
      background-color: green;
      color: white;
    }
  }
}

#all-data-holder {
  width: 100%;

  .not-applicable-cell {
    min-height: 2rem;
  }

  & .event-title-cell {
    background-color: white;
    color: var(--highlight-colour);
    padding: 5px;

    display: grid;
    grid-template-columns: 1fr auto;
  }
}

.event-card-top-row {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  margin-bottom: 5px;

  & .event-title {
    background-color: var(--highlight-colour);
    border-radius: 5px;
    padding-top: 3px;
    padding-left: 5px;
  }

  & .time-cell {
    text-align: right;
    margin-left: 10px;
  }
}

tr td.time-cell,
div.time-cell {
  padding: 3px;
  border-radius: 3px;
}

tr td.positive-delta,
div.positive-delta {
  background-color: green;
  color: white;
}

tr td.negative-delta,
div.negative-delta {
  background-color: #c90101;
  color: white;
}

.delete-cross {
  cursor: pointer;
}

.note {
  font-style: italic;
  font-size: 0.9rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-bottom--none {
  margin-bottom: 0;
}

.not-applicable-cell,
tr.not-applicable-row td {
  background-color: var(--disabled-colour);
  color: #888;
  /* text-align: center; */
}

#recorded-times-cards {
  display: grid;
  grid-template-columns: 25% 25% 25% auto;
  gap: 10px;
  & .event-card {
    display: inline;
  }
}

.multi-table-holder {
  display: grid;
  grid-template-columns: 50% 50%;

  .table-with-title-holder {
    margin-bottom: 20px;
    padding-left: 10px;

    table {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1000px) {
  #recorded-times-cards {
    display: grid;
    grid-template-columns: 33% 33% auto;
  }
}

@media only screen and (max-width: 600px) {
  #recorded-times-cards {
    display: grid;
    grid-template-columns: 100%;
  }

  .multi-table-holder {
    display: grid;
    grid-template-columns: 100%;

    .table-with-title-holder {
      padding-left: 0px;
      padding-right: 5px;
    }
  }

  .row-split {
    display: block;
    margin-top: 5px;
    width: 90vw;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 10px;
    row-gap: 10px;
  }

  input[type="button"] {
    width: 100%;
  }

  .page-title {
    font-size: 7vw;
  }
}
