body {
  background-color: #333;
  color: #fff;
}

table {
  border: 1px solid white;
  border-radius: 5px;
}

td {
  color: white;
}

th {
  background-color: #1b1b9b;
  color: white;
  padding: 5px;
}

.time-cell {
  text-align: right;
  min-width: 4rem;
}

.positive-delta {
  background-color: green;
  color: white;
}

.negative-delta {
  background-color: red;
  color: white;
}
